.navbar-custom {
  background: linear-gradient(to right, #A40D0D , #FF0000);  
 
  font-weight: 700;
  color:white;
  border: none;
}
.tittle-font{
color:white;


}
.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand:active,
.navbar-brand.active {
  color: white;
}