<!DOCTYPE html>
<html lang="en">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Protclo</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/freelancer.css" rel="stylesheet">
</head>

<body ng-app="prot_api" class="bodyPD" ng-controller="CtrlPrin" >
    <!-- Navigation -->
    <div>
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <a  href="#"><img src="img/protcloud_mini.png" /></a> 
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href=""></a>
                    </li>
                    <li class="page-scroll">
                        <a href="" ng-click="changeLanguage('es')">Español</a>
                    </li>
                    <li class="page-scroll">
                        <a href="">/</a>
                    </li>
                    <li class="page-scroll">
                        <a href="" ng-click="changeLanguage('en')">English</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    </div>

    <div>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" align="left">
            <br>
                <li class="sidebar-brand">
                    <a href="#">
                        PRINCIPAL
                    </a>
                </li>
                <li>
                    <a href="#error">List of Error</a>
                </li>
                <li>
                    <a href="#lista">List of API avialable</a>
                </li>
                <li>
                    <a href="#login">Login</a>
                </li>
               <li>
                    <a href="#version">Version</a>
                </li>
                <li>
                    <a href="#meters">Meters</a>
                </li>
                <li>
                    <a href="#meters_less">Meters/Less</a>
                </li>
                <li>
                    <a href="#meters_search">Meters/search/?</a>
                </li>
                <li>
                    <a href="#meters_search_less">Meters/search/?/less</a>
                </li>
                <li>
                    <a href="#meters_">Meters_?</a>
                </li>
                <li>
                    <a href="#meters_">Meters_?_less</a>
                </li>
                <br><br><br><br>
            </ul>
        </div>
        <br>
        <!-- /#sidebar-wrapper -->
        <a class="btn btn-default" id="menu-toggle"> <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
        
        <!-- Page Content -->
        <div id="page-content-wrapper" >

            <div class="container-fluid">

            
                <div class="row" ng-view>
                    
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->


    </div>
    <!-- /#wrapper -->

</div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- AngularJS -->


    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/angular-route.js"></script>
    <script type="text/javascript" src="js/angular-resource.js"></script>
    <script type="text/javascript" src="js/angular-translate.min.js"></script>
    <script type="text/javascript" src="js/config/prot_api.js"></script>
    <script type="text/javascript" src="js/config/config.js"></script>
    <script type="text/javascript" src="js/config/ctrl_prot_api.js"></script>
    <script type="text/javascript" src="templates/ListACtrl.js"></script>
    
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    $("#menu-toggle1").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script> 

</body>

</html>
