
<div ng-controller="appController">
<div class="table-responsive" > 
<h1>LIST OF API AVAILABLE</h1>
  <br>
	<table class="table table-striped" class="table table-condensed">
          <thead>
            <tr>
              <th>Method</th>
              <th>URL</th>
              <th>Action</th>
              </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in myData">
              <th scope="row">{{ x.Method }}</th>
              <td><a href="">{{ x.URL }}</a></td>
              <td>{{ x.Action}}</td>
            </tr>
            
          </tbody>
		</table>
    </div>
</div>