<div class="table-responsive"> 
<h1>LIST OF API AVAILABLE</h1>
  <br>
	<table class="table table-striped" class="table table-condensed">
          <thead>
            <tr>
              <th>Method</th>
              <th>URL</th>
              <th>Action</th>
              </tr>
          </thead>
          <tbody>
            <tr ng-repeat="dataA in datosA">
              <th scope="row">{{ dataA.Method }}</th>
              <td><a href="">{{ dataA.URL }}</a></td>
              <td>{{ dataA.Action}}</td>
            </tr>
            
          </tbody>
		</table>
    </div>
