<h1>LIST OF API Errors</h1>
  <br>
<div class="table-responsive"> 

	<table class="table table-striped" class="table table-condensed">
          <thead>
            <tr>
              <th>Error</th>
              <th>Meaning</th>
              </tr>
          </thead>
          <tbody>
            <tr ng-repeat="dataE in datosResource">
              <th scope="row">{{ dataE.id}}</th>
              <td>{{ dataE.mean }}</td>
               </tr>
            

          </tbody>
          
		</table>
    </div>
