<h1>LIST OF API Errors</h1>
<h3 translate="TITLE_LOGIN"></h3>
  <br>
<div class="table-responsive" ng-controller="errorController"> 

	<table class="table table-striped" class="table table-condensed">
          <thead>
            <tr>
              <th>Error</th>
              <th>Meaning</th>
              </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in myData">
              <th scope="row">{{ x.id}}</th>
              <td>{{ x.mean }}</td>
               </tr>
            

          </tbody>
          
		</table>
    </div>
