<div class="col-md-11">
	<h1 translate="LOGIN_TITLE"></h1>
	<br>
	<img src="img/1.png" class="img-responsive img-thumbnail center-block" alt="" >
	<br>
	<br>
	<h2 translate="LOGIN_SAUTH"></h2>
	<h3 translate="LOGIN_SUBTO"></h3>
	<p class="text-justify" translate="LOGIN_PARAG"></p>
	<br>
	<h3 translate="LOGIN_RESSL"></h3>
	<p class="text-justify" translate="LOGIN_USESS"> </p> 
	<br>
	<h2 translate="LOGIN_TAPPL"></h2>
	<p class="text-justify" translate="LOGIN_SOLAP"></p>

	<div class="table-responsive">
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th translate="LOGIN_FIELD"></th>
		      <th translate="LOGIN_VALUE"></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">NAME_APP</th>
		      <td>My_app</td>
		    </tr>
		    <tr>
		      <th scope="row">SECRET_KEY</th>
		      <td>xvz1evFS4wEEPTGEFPHBog</td>
		    </tr>
		    <tr>
		      <th scope="row">SECRET_KEY WITH SHA-1</th>
		      <td>25e72cd75d2d3e0c1061819682c97abce19a3e84</td>
		    </tr>
		  </tbody>
		</table>
	</div>
	<br>
	<h3 translate="LOGIN_OBTOK"></h2>
	<p translate="LOGIN_CASHA"></p>
	<ul>
		<li style="font-size: 20px;" translate="LOGIN_HTTPP"></li>
		<li style="font-size: 20px;" translate="LOGIN_NAMEA"></li>
	</ul>
	<br>
</div>
<div class="col-md-1"></div>