<div class="col-md-11">
	<h1>Login to the API</h1>
	<br>
	<img src="img/1.png" class="img-responsive img-thumbnail center-block" alt="" >
	<br>
	<h2>About application-only auth</h2>
	<h3>Tokens are passwords</h3>
	<p class="text-justify">Keep in mind that the consumer key & secret, bearer token credentials, and the bearer token itself grant access to make requests on behalf of an application. These values should be considered as sensitive as passwords and must not be shared or distributed to untrusted parties.</p>
	<h3>SSL absolutely required</h3>
	<p class="text-justify">This manner of authentication is only secure if SSL is used. Therefore, all requests (both to obtain and use the tokens) must use HTTPS endpoints, which is also a requirement of using API v1. Please follow the best practices detailed in Connecting to Protcloud API using SSL - peers should always be verified.</p>
	<h2>Issuing application-only requests</h2>
	<p class="text-justify">First of all, it necessary to encode the secret key with SHA-128 then use it as credentials to obtain a bearer token.</p>
	<br>
	<div class="table-responsive">
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>FIELD</th>
		      <th>VALUE</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">NAME_APP</th>
		      <td>My_app</td>
		    </tr>
		    <tr>
		      <th scope="row">SECRET_KEY</th>
		      <td>xvz1evFS4wEEPTGEFPHBog</td>
		    </tr>
		    <tr>
		      <th scope="row">SECRET_KEY WITH SHA-1</th>
		      <td>25e72cd75d2d3e0c1061819682c97abce19a3e84</td>
		    </tr>
		  </tbody>
		</table>
	</div>
	
	<h3>Obtain a bearer token</h2>
	<p>Once you calculated the SHA-1 of the secret key, you will use it in a new request.</p>
	<ul>
		<li>The request must be a HTTP POST request.</li>
		<li>The request must be include name_app and secret key</li>
	</ul>
	<h2>RESOURCE URL</h1>
	<p>https:// protcloud.com/api/v1/login</p>
	<h2>RESOURCE INFORMATION</h2>
	<br>
	<H2>CONTENT DATA</H2>
	<div class="table-responsive">
		<table class="table table-striped">
		  <tbody>
		    <tr>
		      <th scope="row">METHOD</th>
		      <td>POST</td>
		    </tr>
		    <tr>
		      <th scope="row">RESPONSE FORMATS</th>
		      <td>Encrypted with AES-128 ECB</td>
		    </tr>
		    <tr>
		      <th scope="row">DECRYPTED DATA</th>
		      <td>JSON</td>
		    </tr>
		    <tr>
		      <th scope="row">REQUIRES AUTHENTICATION?</th>
		      <td>NO</td>
		    </tr>
		    <tr>
		      <th scope="row">TYPE REQUEST</th>
		      <td>DB</td>
		    </tr>
		  </tbody>
		</table>
	</div>

	<div class="table-responsive">
		<table class="table table-striped">
		  <tbody>
		    <tr>
		      <th scope="row">NAME_APP</th>
		      <td>STRING </td>
		    </tr>
		    <tr>
		      <th scope="row">SECRET_KEY</th>
		      <td>STRING</td>
		    </tr>
		    <tr>
		      <th scope="row">ENCRYPTED(OPTIONAL)</th>
		      <td>BOOLEAN (TRUE, FALSE)</td>
		    </tr>
		    <tr>
		      <th scope="row">ALGORITHM(OPTIONAL)</th>
		      <td>STRING</td>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>
<div class="col-md-1"></div>