<h1>Login to the API</h1>
<br>
<img src="../img/1.png">
<br>
<h2>About application-only auth</h2>
<h3>Tokens are passwords</h3>
<p>Keep in mind that the consumer key & secret, bearer token credentials, and the bearer token itself grant access to make requests on behalf of an application. These values should be considered as sensitive as passwords and must not be shared or distributed to untrusted parties.</p>
<h3>SSL absolutely required</h3>
<p>This manner of authentication is only secure if SSL is used. Therefore, all requests (both to obtain and use the tokens) must use HTTPS endpoints, which is also a requirement of using API v1. Please follow the best practices detailed in Connecting to Protcloud API using SSL — peers should always be verified.</p>
<h2>Issuing application-only requests</h2>
<p>First of all, it necessary to encode the secret key with SHA-128 then use it as credentials to obtain a bearer token.</p>