<div class="col-md-11">
	<h2 translate="TITLE_UNO"></h2>
		<br>
		<p><ins>https://protcloud.com/api/v1/meters/B00005/today_profile</ins></p>
		<br>
	<h2 translate="METERS_UNO"></h2>
	<br>
		<div class="table-responsive">
			<table class="table table-striped">
        		<thead>
        	    	<tr>
    	    	    	<th><p style="text-align: justify;" translate="METERS_DOS"></th>
	            		<th><p style="text-align: justify;">GET</th>
           			</tr>
        	  	</thead>
    	      	<tbody>
	            	<tr>
            			<th scope="row"><p style="text-align: justify;" translate="METERS_TRES"></th>
            			<td><p style="text-align: justify;">Encrypted with AES-128 ECB</td>
            		</tr>
        	    	<tr>
    	        		<th scope="row"><p style="text-align: justify;" translate="METERS_CUATRO"></th>
	            		<td><p style="text-align: justify;">JSON</td>
            		</tr>
            		<tr>
            	  		<th scope="row"><p style="text-align: justify;" translate="METERS_CINCO"></th>
        	      		<td><p style="text-align: justify;" translate="METERS_SEIS"></td>
    	        	</tr>
	            	<tr>
              			<th scope="row"><p style="text-align: justify;" translate="METERS_SIETE"></th>
              			<td><p style="text-align: justify;">GATEWAY</td>
            		</tr>
        		</tbody>
			</table>	
		</div>
		<br>
	<h2 translate="METERS_OCHO"></h2>
		<br>
			<pre>
GET /api/v1/meters/config
HTTP/1.1
Host: 192.168.3.127
User-Agent: curl
Authorization: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJleHAiOiIxNDQ2MDQxMDU3IiwidWlkIjoiTWpWb
E56SmpaRGMxWkRKa00yVXdZekV3TmpFNE1UazJPREpqT1RkaFltTmxNVGxoTTJVNE5BPT0iLCJpYXQiOiIxNDQ2MDM3ND
U3In0.A5vkkzKkHBD_jUj_yX0PfD_rSorNypOvNI6bpHbp2s0em6kyF_gN1JW8BtW96NZXMpLeK4fyVq1B9KzDH8n3DOR
XUnNJqV8mAMVCFeWSHLyjricYZK_1C4zspWPHynD4_W30TGenhSza22yY7cX5bCBnR_KU3NxrU0qF9tmRMmd9xKhEmwio
FFVk58VNydJtUykMUDWO3tvjcx-ocZ5jEtd-grg9qNpnirncDK1XBq4FwNkjM4nYGyAO52QV98luSCz9mo7ECxIikkYFi
fV3LGG1r0Q1K3P_JyTP-UW_hBBSQDoYpWoUuT1_p5nuE-9Mf72Kd42iT6pVqSm3vMgtkA
Cache-Control: no-cache
			</pre>
		<br>
	<h2 translate="METERS_NUEVE"></h2>
		<br>
			<pre>
HTTP/1.1 200 OK
Date: Wed, 28 Oct 2015 15:15:10 GMT
Server: Apache
Vary: Authorization,Accept-Encoding
Expires: Thu, 19 Nov 1981 08:52:00 GMT
Pragma: no-cache
Access-Control-Allow-Orgin: *
Access-Control-Allow-Methods: *
Transfer-Encoding: chunked
Content-Type: application/json

{"PAYLOAD":"SvgFAkRpOZqdkeIrbo7w1NzzQ7x4hnfejH355d4947rJ2LLUGWKeReAyfd\/RT+Yz0NclniJzw0CtG
8+NQfLgyF+f2g25vMlhxVwLKNPi6wf9EcZLO+WwgBj\/vfOOX3vtEs5pB6YYZPCRkvqJQl5\/KQiKQ3tqlVTm48WKZ
ymuenmw8A1f9gQGQAL4jnt546b0I3bKZQyLU\/U4daYs0hvmXhjIKllqgl6FOwPsjnUIzivFeEolF3YJuwnDsPg6VA
Pb16K0G1qAQCTKUI4kjjoVWJaKsbmb0BwnyR8YchJKBUW3b440KDLRxEJZ9wQBHDiN9yK0xh4\/XkYYBZ8Z5xGxviw
AZBiQsnXbLRrIG+Nov1i5joM6I7CUi2id0Myyy36oE62IbJg3RXjNdjtComhVZOnHYIAS7P20AOLKy1JRl4hdTd..}
			</pre>
		<br>
	<p style="text-align: justify;" translate="METERS_DIEZ">
		<br>
	<p>Falta imagen
		<br>
	<p style="text-align: justify;" translate="PANEL_RESJS">
		<br>
		<pre>[
   {
	"RESULT":{
	"CHANNEL_I": {
	"TIMESTAMP":"2016-03-31 00:00:00",
	"TYPE":"DELIVERED_ENERGY",
	"PROFILE":{
	"00:15":0,
	"00:30":0,
	"00:45":0,
	"01:00":0,
	"01:15":0,
	"01:30":0,
	"01:45":0,
	"02:00":0,
	"02:15":0,
	"02:30":0,
	"02:45":0,
	"03:00":0,
	"03:15":0,
	"03:30":0,
	"03:45":0,
	"04:00":0,
	"04:15":0,
	"04:30":0,
	"04:45":0,
	"05:00":0,
	"05:15":0,
	"05:30":0,
	"05:45":0,
	"06:00":0,
	"06:15":0,
	"06:30":0,
	"06:45":0,
	"07:00":0,
	"07:15":0,
	"07:30":0,
	"07:45":0,
	"08:00":0,
	"08:15":0,
	"08:30":0,
	"08:45":0,
	"09:00":0,
	"09:15":0,
	"09:30":0,
	"09:45":-1,
	"10:00":-1,
	"10:15":-1,
	"10:30":-1,
	"10:45":-1,
	"11:00":-1,
	"11:15":-1,
	"11:30":-1,
	"11:45":-1,
	"12:00":-1,
	"12:15":-1,
	"12:30":-1,
	"12:45":-1,
	"13:00":-1,
	"13:15":-1,
	"13:30":-1,
	"13:45":-1,
	"14:00":-1,
	"14:15":-1,
	"14:30":-1,
	"14:45":-1,
	"15:00":-1,
	"15:15":-1,
	"15:30":-1,
	"15:45":-1,
	"16:00":-1,
	"16:15":-1,
	"16:30":-1,
	"16:45":-1,
	"17:00":-1,
	"17:15":-1,
	"17:30":-1,
	"17:45":-1,
	"18:00":-1,
	"18:15":-1,
	"18:30":-1,
	"18:45":-1,
	"19:00":-1,
	"19:15":-1,
	"19:30":-1,
	"19:45":-1,
	"20:00":-1,
	"20:15":-1,
	"20:30":-1,
	"20:45":-1,
	"21:00":-1,
	"21:15":-1,
	"21:30":-1,
	"21:45":-1,
	"22:00":-1,
	"22:15":-1,
	"22:30":-1,
	"22:45":-1,
	"23:00":-1,
	"23:15":-1,
	"23:30":-1,
	"23:45":-1,
	"00:00":-1
   }
  },
	"CHANNEL_II": {
	"TIMESTAMP":"2016-03-31 00:00:00",
	"TYPE":"ENERGY_RECEIVED",
	"PROFILE":{
	"00:15":0,
	"00:30":0,
	"00:45":0,
	"01:00":0,
	"01:15":0,
	"01:30":0,
      . . .
     }
    },
	"CHANNEL_III": {
	"TIMESTAMP":"2016-03-31 00:00:00",
	"TYPE":"DEMAND_DELIVERED",
	"PROFILE":{
	"00:15":0,
	"00:30":0,
	"00:45":0,
	"01:00":0,
	"01:15":0,
	"01:30":0,
      . . .
     }
    }
   },
	"SERIAL_NUMBER":"B00005",
	"TICKET":4
 }
]
		</pre>
		<br>
		<p style="text-align: justify;" translate="M_B00005_TP_I">
		<br>
		<div class="table-responsive">
			<table class="table table-striped">
        		<thead>
            		<tr>
            			<th><p style="text-align: justify;" translate="METERS_TRECE"></th>
            			<th><p style="text-align: justify;" translate="METERS_CATORCE"></th>
            			<th><p style="text-align: justify;" translate="METERS_QUINCE"></th>
            			<th><p style="text-align: justify;" translate="METERS_DIECISEIS"></th>
           			</tr>
          		</thead>
          		<tbody>
            		<tr>
            			<th scope="row">TIMESTAMP</th>
            			<td><p style="text-align: justify;" translate="M_B00005_TP_II"></td>
            			<td>STRING</td>
            			<td>MySQL Format (lengh:19)</td>
            		</tr>
            		<tr>
            			<th scope="row">TYPE</th>
            			<td><p style="text-align: justify;" translate="M_B00005_TP_III"></td>
            			<td>STRING</td>
            			<td></td>
            		</tr>
            		<tr>
            			<th scope="row">PROFILE</th>
            			<td><p style="text-align: justify;" translate="M_B00005_TP_IV"></td>
            			<td>DOUBLE</td>
            			<td></td>
            		</tr>
            		<tr>
            			<th scope="row">SERIAL_NUMBER</th>
            			<td><p style="text-align: justify;" translate="M_B00005_TP_V"></td>
            			<td>STRING</td>
            			<td></td>
            		</tr><tr>
            			<th scope="row">TICKET</th>
            			<td><p style="text-align: justify;" translate="M_B00005_TP_VI"></td>
            			<td>INTEGER</td>
            			<td></td>
            		</tr>
           		</tbody>
			</table>
		</div>
		<p style="text-align: justify;" translate="HM_IM_SD_ED_XIV">
		<br>
		<ul>
			<li style="text-align: justify;" translate="HM_IM_SD_ED_XV"></li>
			<li style="text-align: justify;" translate="HM_IM_SD_ED_XVI"></li>
			<li style="text-align: justify;" translate="HM_IM_SD_ED_XVII"></li>
			<li style="text-align: justify;" translate="HM_IM_SD_ED_XVIII"></li>
			<li style="text-align: justify;" translate="HM_IM_SD_ED_XIX"></li>
			<li style="text-align: justify;" translate="HM_IM_SD_ED_XX"></li>
			<li style="text-align: justify;" translate="HM_IM_SD_ED_XXI"></li>
			<li style="text-align: justify;" translate="HM_IM_SD_ED_XXII"></li>
		</ul>
	<br>
</div>
<div class="col-md-1">
</div>