<div class="col-md-11">
	<h2 translate="TITLE_UNO"></h2>
		<br>
		<p><ins>https://protcloud.com/api/v1/meters/less</ins></p>
		<br>
	<h2 translate="METERS_UNO"></h2>
	<br>
	<div class="table-responsive">
		<table class="table table-striped">
        	<thead>
            	<tr>
            	<th><p style="text-align: justify;" translate="METERS_DOS"></th>
            	<th><p style="text-align: justify;">GET</th>
           		</tr>
          	</thead>
          	<tbody>
            	<tr>
            		<th scope="row"><p style="text-align: justify;" translate="METERS_TRES"></th>
            		<td><p style="text-align: justify;">Encrypted with AES-128 ECB</td>
            	</tr>
            	<tr>
            		<th scope="row"><p style="text-align: justify;" translate="METERS_CUATRO"></th>
            		<td><p style="text-align: justify;">JSON</td>
            	</tr>
            	<tr>
              		<th scope="row"><p style="text-align: justify;" translate="METERS_CINCO"></th>
              		<td><p style="text-align: justify;" translate="METERS_SEIS"></td>
            	</tr>
            	<tr>
              		<th scope="row"><p style="text-align: justify;" translate="METERS_SIETE"></th>
              		<td><p style="text-align: justify;">DB</td>
            	</tr>
        	</tbody>
		</table>
	</div>
	<br>
	<h2 translate="LESS_"></h2>
	<br>
		<p style="text-align: justify;" translate="LESS">
		
	<h2 translate="METERS_OCHO"></h2>
		<br>
			<pre>
GET /api/v1/meters/less
HTTP/1.1
Host: 192.168.3.127
User-Agent: curl
Authorization: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJleHAiOiIxNDQ2MDQxMDU3IiwidWlkIjoiTWpWbE56SmpaRGMxWkRKa00
yVXdZekV3TmpFNE1UazJPREpqT1RkaFltTmxNVGxoTTJVNE5BPT0iLCJpYXQiOiIxNDQ2MDM3NDU3In0.A5vkkzKkHBD_jUj_yX0PfD_rSorNyp
OvNI6bpHbp2s0em6kyF_gN1JW8BtW96NZXMpLeK4fyVq1B9KzDH8n3DORXUnNJqV8mAMVCFeWSHLyjricYZK_1C4zspWPHynD4_W30TGenhSza22
yY7cX5bCBnR_KU3NxrU0qF9tmRMmd9xKhEmwioFFVk58VNydJtUykMUDWO3tvjcx-ocZ5jEtd-grg9qNpnirncDK1XBq4FwNkjM4nYGyAO52QV98
luSCz9mo7ECxIikkYFifV3LGG1r0Q1K3P_JyTP-UW_hBBSQDoYpWoUuT1_p5nuE-9Mf72Kd42iT6pVqSm3vMgtkA
Cache-Control: no-cache
Content-Type: charset=utf-8
			</pre>
		<br>
	<h2 translate="METERS_NUEVE"></h2>
		<br>
		<pre>
HTTP/1.1 200 OK
Date: Wed, 28 Oct 2015 15:15:10 GMT
Server: Apache
Vary: Authorization,Accept-Encoding
Expires: Thu, 19 Nov 1981 08:52:00 GMT
Pragma: no-cache
Access-Control-Allow-Orgin: *
Access-Control-Allow-Methods: *
Transfer-Encoding: chunked
Content-Type: application/json

{"PAYLOAD":"SvgFAkRpOZqdkeIrbo7w1NzzQ7x4hnfejH355d4947rJ2LLUGWKeReAyfd\/RT+Yz0NclniJzw0CtG
8+NQfLgyF+f2g25vMlhxVwLKNPi6wf9EcZLO+WwgBj\/vfOOX3vtEs5pB6YYZPCRkvqJQl5\/KQiKQ3tqlVTm48WKZ
ymuenmw8A1f9gQGQAL4jnt546b0I3bKZQyLU\/U4daYs0hvmXhjIKllqgl6FOwPsjnUIzivFeEolF3YJuwnDsPg6VA
Pb16K0G1qAQCTKUI4kjjoVWJaKsbmb0BwnyR8YchJKBUW3b440KDLRxEJZ9wQBHDiN9yK0xh4\/XkYYBZ8Z5xGxviw
AZBiQsnXbLRrIG+Nov1i5joM6I7CUi2id0Myyy36oE62IbJg3RXjNdjtComhVZOnHYIAS7P20AOLKy1JRl4hdTd..}
			</pre>
	<br>
		
		<br>
		<p style="text-align: justify;" translate="METERS_ONCE">
		<p style="text-align: justify;" translate="METERS_DOCE">
		<br>
		<pre>{  
   "RESULT": false,
   "ERROR_CODE":3,
   "ERROR":"ANY SMART METER FOUND"
}
		</pre>
		<table class="table table-striped">
        	<thead>
            	<tr>
            	<th><p style="text-align: justify;" translate="METERS_TRECE"></th>
            	<th><p style="text-align: justify;" translate="METERS_CATORCE"></th>
            	<th><p style="text-align: justify;" translate="METERS_QUINCE"></th>
            	<th><p style="text-align: justify;" translate="METERS_DIECISEIS"></th>
           		</tr>
          	</thead>
          	<tbody>
            	<tr>
            		<th scope="row">RESULT</th>
            		<td><p style="text-align: justify;" translate="METERS_DIECISIETE"></td>
            		<td>BOOLEAN</td>
            		<td>True, False</td>
            	</tr>
            	<tr>
            		<th scope="row">ERROR_CODE</th>
            		<td><p style="text-align: justify;" translate="METERS_DIECIOCHO"></td>
            		<td>INTEGER</td>
            		<td> > 0, 1, 2, 3..., N</td>
            	</tr>
            	<tr>
              		<th scope="row">ERROR</th>
              		<td><p style="text-align: justify;" translate="METERS_DIECINUEVE"></td>
              		<td>STRING</td>
              		<td></td>
            	</tr>
        	</tbody>
		</table>
	<p style="text-align: justify;" translate="METERS_II">	
		<pre>
[
  {
    "IM": {
      "SN": "A00001",
      "TS": "2016-01-20 16:00:00",
      "ST": "ONLINE",
      "STR": true,
      "MV": true
    },
    "CPH": {
      "PHI": {
        "KWHD": 17.207,
        "KWHR": 0.057,
        "KWHB": 17.264,
        "KVHI": 0.585,
        "KVHII": 0.148,
        "KVHIII": 0,
        "KVHIV": 0.258
      }
    },
    "IPH": {
      "PHI": {
        "V": 124.368,
        "A": 0,
        "PF": 1,
        "S": 0,
        "P": 0,
        "Q": 0,
        "FR": 60.014
      }
    },
    "PDPH": {
      "PHI": {
        "DEM": 1.324
      }
    }
  },{...},{...},....
]
		</pre>
		<br>
		<h2 translate="METERS_II_UNO"></h2>
			<br>
			<p style="text-align: justify;" translate="METERS_II_DOS">
			<table class="table table-striped">
        	<thead>
            	<tr>
            	<th><p style="text-align: justify;" translate="METERS_TRECE"></th>
            	<th><p style="text-align: justify;" translate="METERS_CATORCE"></th>
            	<th><p style="text-align: justify;" translate="METERS_QUINCE"></th>
            	<th><p style="text-align: justify;" translate="METERS_DIECISEIS"></th>
           		</tr>
          	</thead>
          	<tbody>
            	<tr>
            		<th scope="row">SN</th>
            		<td><p style="text-align: justify;" translate="LESS_I"></td>
            		<td>STRING</td>
            		<td>Variable ( length:4 )</td>
            	</tr>
            	<tr>
            		<th scope="row">TS</th>
            		<td><p style="text-align: justify;" translate="LESS_II"></td>
            		<td>STRING</td>
            		<td>Mysql format  ( length:19 )</td>
            	</tr>
            	<tr>
            		<th scope="row">ST</th>
            		<td><p style="text-align: justify;" translate="LESS_III"></td>
            		<td>STRING</td>
            		<td>Online, offline </td>
            	</tr>
            	<tr>
            		<th scope="row">STR</th>
            		<td><p style="text-align: justify;" translate="LESS_IV"></td>
            		<td>BOOLEAN</td>
            		<td>True, False</td>
            	</tr>
            	<tr>
            		<th scope="row">MV</th>
            		<td><p style="text-align: justify;" translate="LESS_V"></td>
            		<td>BOOLEAN</td>
            		<td>True, False</td>
            	</tr>
        	</tbody>
		</table>
		<br>
	<h2 translate="METERS_IV_SIETE"></h2>
	<br>
		<p style="text-align: justify;" translate="METERS_IV_OCHO">
		<br>
		<p style="text-align: justify;" translate="METERS_IV_NUEVE">
		<ul>
			<li><p style="text-align: justify;" translate="METERS_V"></li>
			<li><p style="text-align: justify;" translate="METERS_V_UNO"></li>
			<li><p style="text-align: justify;" translate="METERS_V_DOS"></li>
		</ul>.
		</p>
		<br>
			<table class="table table-striped">
        		<thead>
            		<tr>
        	    	<th><p style="text-align: justify;" translate="METERS_TRECE"></th>
            		<th><p style="text-align: justify;" translate="METERS_CATORCE"></th>
            		<th><p style="text-align: justify;" translate="METERS_QUINCE"></th>
            		<th><p style="text-align: justify;" translate="METERS_DIECISEIS"></th>
    	       		</tr>
	          	</thead>
	          	<tbody>
            	<tr>
            		<th scope="row">KWHD</th>
            		<td><p style="text-align: justify;" translate="METERS_V_TRES"></td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">KWHR</th>
            		<td><p style="text-align: justify;" translate="METERS_V_CUATRO"></td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">KWHB</th>
            		<td><p style="text-align: justify;" translate="METERS_V_CINCO"></td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">KVHI</th>
            		<td><p style="text-align: justify;" translate="METERS_V_SEIS"></td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">KVHII</th>
            		<td><p style="text-align: justify;" translate="METERS_V_SIETE"></td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">KVHIII</th>
            		<td><p style="text-align: justify;" translate="METERS_V_OCHO"></td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">KVHIV</th>
            		<td><p style="text-align: justify;" translate="METERS_V_NUEVE"></td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            </tbody>
		</table>
		<br>
	<h2 translate="METERS_VI"></h2>
		<br>
		<p style="text-align: justify;" translate="METERS_VI_I">
			<br>
			<p style="text-align: justify;" translate="METERS_IV_NUEVE">
			<br>
			<ul>
				<li><p style="text-align: justify;" translate="METERS_V"></li>
				<li><p style="text-align: justify;" translate="METERS_V_UNO"></li>
				<li><p style="text-align: justify;" translate="METERS_V_DOS"></li>
			</ul>
			<br>
			<table class="table table-striped">
        		<thead>
            		<tr>
        	    		<th><p style="text-align: justify;" translate="METERS_TRECE"></th>
            			<th><p style="text-align: justify;" translate="METERS_CATORCE"></th>
            			<th><p style="text-align: justify;" translate="METERS_QUINCE"></th>
            			<th><p style="text-align: justify;" translate="METERS_DIECISEIS"></th>
    	       		</tr>
	          	</thead>
	          	<tbody>
            	<tr>
            		<th scope="row">V</th>
            		<td><p style="text-align: justify;" translate="METERS_VI_UNO"></td>
            		<td>DOUBLE</td>
            		<td>> 90.0 ~ <= 250</td>
            	</tr>
            	<tr>
            		<th scope="row">A</th>
            		<td><p style="text-align: justify;" translate="METERS_VI_DOS"></td>
            		<td>DOUBLE</td>
            		<td> > 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">PF</th>
            		<td><p style="text-align: justify;" translate="METERS_VI_TRES"></td>
            		<td>DOUBLE</td>
            		<td>> 0.0  ~  <= 1</td>
            	</tr>
            	<tr>
            		<th scope="row">S</th>
            		<td><p style="text-align: justify;" translate="METERS_VI_CUATRO"></td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">P</th>
            		<td><p style="text-align: justify;" translate="METERS_VI_CINCO"></td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">Q</th>
            		<td><p style="text-align: justify;" translate="METERS_VI_SEIS"></td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">FR</th>
            		<td><p style="text-align: justify;" translate="METERS_VI_SIETE"></td>
            		<td>DOUBLE</td>
            		<td>> 49 ~ < 61</td>
            	</tr>
            </tbody>
		</table>
		<br>
	<h2 translate="METERS_VI_OCHO"></h2>
		<br>
		<p style="text-align: justify;" translate="METERS_VI_NUEVE">
		<p style="text-align: justify;" translate="METERS_IV_NUEVE">
		<ul>
			<li><p style="text-align: justify;" translate="METERS_V"></li>
			<li><p style="text-align: justify;" translate="METERS_V_UNO"></li>
			<li><p style="text-align: justify;" translate="METERS_V_DOS"></li>
		</ul>
			<br>
		<table class="table table-striped">
        	<thead>
            	<tr>
        	    	<th><p style="text-align: justify;" translate="METERS_TRECE"></th>
	            	<th><p style="text-align: justify;" translate="METERS_CATORCE"></th>
    	        	<th><p style="text-align: justify;" translate="METERS_QUINCE"></th>
        		   	<th><p style="text-align: justify;" translate="METERS_DIECISEIS"></th>
    	    	</tr>
	        </thead>
			<tbody>
            	<tr>
            		<th scope="row">DEM</th>
            		<td><p style="text-align: justify;" translate="LESS_VI"></td>
            		<td>DOUBLE</td>
            		<td>> 0 ~ n </td>
            	</tr>
			</tbody>
		</table>
</div>
<div class="col-md-1">
</div>