<div class="col-md-11">
	<h3>RESOURCE URL</h3>
		<p><ins>https://protcloud.com/api/v1/meters/search/?/less</ins></p>
		<br>
	<h3>RESOURCE INFORMATION</h3>
		<br>
		<div class="table-responsive">
		<table class="table table-striped">
        	<thead>
            	<tr>
            	<th>METHOD</th>
            	<th>GET</th>
           		</tr>
          	</thead>
          	<tbody>
            	<tr>
            		<th scope="row">RESPONSE FORMATS</th>
            		<td>Encrypted with AES-128 ECB</td>
            	</tr>
            	<tr>
            		<th scope="row">DECRYPTED DATA</th>
            		<td>JSON</td>
            	</tr>
            	<tr>
              		<th scope="row">REQUIRES AUTHENTICATION?</th>
              		<td>YES</td>
            	</tr>
            	<tr>
              		<th scope="row">TYPE REQUEST</th>
              		<td>DB</td>
            	</tr>
        	</tbody>
		</table>
		</div>
		<br>
	<h3>PARAMETERS URL</h3>
		<br>
		<div class="table-responsive">
		<table class="table table-striped">
        	<thead>
            	<tr>
            	<th>UNIQUE ID METER</th>
            	<th>INTEGER</th>
           		</tr>
          	</thead>
		</table>
		<br>
		<p>OR
		<br>
		<div class="table-responsive">
		<table class="table table-striped">
        	<thead>
            	<tr>
            	<th>SERIAL NUMBER</th>
            	<th>STRING</th>
           		</tr>
          	</thead>
		</table>
		</div>
		<br>
		<h3>REQUEST</h3>
		<p class="">
			<pre>
GET /api/v1/meters/serach/GTWR02 
HTTP/1.1
Host: 192.168.3.127
User-Agent: curl
Authorization: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJleHAiOiIxNDQ2MDQxMDU3IiwidWlkIjoiTWpWbE56SmpaRGMxWkRKa00
yVXdZekV3TmpFNE1UazJPREpqT1RkaFltTmxNVGxoTTJVNE5BPT0iLCJpYXQiOiIxNDQ2MDM3NDU3In0.A5vkkzKkHBD_jUj_yX0PfD_rSorNyp
OvNI6bpHbp2s0em6kyF_gN1JW8BtW96NZXMpLeK4fyVq1B9KzDH8n3DORXUnNJqV8mAMVCFeWSHLyjricYZK_1C4zspWPHynD4_W30TGenhSza22
yY7cX5bCBnR_KU3NxrU0qF9tmRMmd9xKhEmwioFFVk58VNydJtUykMUDWO3tvjcx-ocZ5jEtd-grg9qNpnirncDK1XBq4FwNkjM4nYGyAO52QV98
luSCz9mo7ECxIikkYFifV3LGG1r0Q1K3P_JyTP-UW_hBBSQDoYpWoUuT1_p5nuE-9Mf72Kd42iT6pVqSm3vMgtkA
Cache-Control: no-cache
Content-Type: charset=utf-8
			</pre>
			</p>
	<br>
	<br>
		<h3>RESPONSE</h3>
			<br>
			<pre>
HTTP/1.1 200 OK
Date: Wed, 28 Oct 2015 15:15:10 GMT
Server: Apache
Vary: Authorization,Accept-Encoding
Expires: Thu, 19 Nov 1981 08:52:00 GMT
Pragma: no-cache
Access-Control-Allow-Orgin: *
Access-Control-Allow-Methods: *
Transfer-Encoding: chunked
Content-Type: application/json

{"PAYLOAD":"SvgFAkRpOZqdkeIrbo7w1NzzQ7x4hnfejH355d4947rJ2LLUGWKeReAyfd\/RT+Yz0NclniJzw0CtG
8+NQfLgyF+f2g25vMlhxVwLKNPi6wf9EcZLO+WwgBj\/vfOOX3vtEs5pB6YYZPCRkvqJQl5\/KQiKQ3tqlVTm48WKZ
ymuenmw8A1f9gQGQAL4jnt546b0I3bKZQyLU\/U4daYs0hvmXhjIKllqgl6FOwPsjnUIzivFeEolF3YJuwnDsPg6VA
Pb16K0G1qAQCTKUI4kjjoVWJaKsbmb0BwnyR8YchJKBUW3b440KDLRxEJZ9wQBHDiN9yK0xh4\/XkYYBZ8Z5xGxviw
AZBiQsnXbLRrIG+Nov1i5joM6I7CUi2id0Myyy36oE62IbJg3RXjNdjtComhVZOnHYIAS7P20AOLKy1JRl4hdTd..}
			</pre>
		<br>
		<h3>EXAMPLE IN POSTMAN</h3>
		<br>
		
		<br>
		<p>There are multiple results from an array with all smart meters to a false result with the error description.
		<br>
		<h4>It indicates that any smart meter was found:</h4>

		<pre>{  
   "RESULT": false,
   "ERROR_CODE":3,
   "ERROR":"ANY SMART METER FOUND"
}
		</pre>
			<table class="table table-striped">
        	<thead>
            	<tr>
            	<th>FIELD</th>
            	<th>MEANING</th>
            	<th>TYPE</th>
            	<th>VALUES</th>
           		</tr>
          	</thead>
          	<tbody>
            	<tr>
            		<th scope="row">RESULT</th>
            		<td>Error in transaction</td>
            		<td>BOOLEAN</td>
            		<td>True, False</td>
            	</tr>
            	<tr>
            		<th scope="row">ERROR_CODE</th>
            		<td>Unique error detect</td>
            		<td>INTEGER</td>
            		<td> > 0, 1, 2, 3..., N</td>
            	</tr>
            	<tr>
              		<th scope="row">ERROR</th>
              		<td>Description of error</td>
              		<td>STRING</td>
              		<td></td>
            	</tr>
        	</tbody>
		</table>
		<pre>
		<br>
			<h4>Or an Array with data Smart meters:</h4>
		<br>
{
  "IM": {
    "SN": "A00001",
    "TS": "2016-01-20 16:00:00",
    "ST": "ONLINE",
    "STR": true,
    "MV": true
  },
  "CPH": {
    "PHI": {
      "KWHD": 17.207,
      "KWHR": 0.057,
      "KWHB": 17.264,
      "KVHI": 0.585,
      "KVHII": 0.148,
      "KVHIII": 0,
      "KVHIV": 0.258
    }
  },
  "IPH": {
    "PHI": {
      "V": 124.368,
      "A": 0,
      "PF": 1,
      "S": 0,
      "P": 0,
      "Q": 0,
      "FR": 60.014
    }
  },
  "PDPH": {
    "PHI": {
      "DEM": 1.324
    }
  }
}
		</pre>
		<br>
		<h3>IM (INFO_METER)</h3>
			<br>
			<p>Is applicable for all types of smart meters</p>
			<table class="table table-striped">
        	<thead>
            	<tr>
            	<th>FIELD</th>
            	<th>MEANING</th>
            	<th>TYPE</th>
            	<th>VALUES</th>
           		</tr>
          	</thead>
          	<tbody>
            	<tr>
            		<th scope="row">SN</th>
            		<td>Serial number of the smart meter</td>
            		<td>STRING</td>
            		<td>Variable ( length:4 )</td>
            	</tr>
            	<tr>
            		<th scope="row">TS</th>
            		<td>Timestamp of data</td>
            		<td>STRING</td>
            		<td>Mysql format  ( length:19 )</td>
            	</tr>
            	<tr>
            		<th scope="row">ST</th>
            		<td>Meter status</td>
            		<td>STRING</td>
            		<td>Online, offline </td>
            	</tr>
            	<tr>
            		<th scope="row">STR</th>
            		<td>Indicates state of relay</td>
            		<td>BOOLEAN</td>
            		<td>TRUE, False</td>
            	</tr>
            	<tr>
            		<th scope="row">MV</th>
            		<td>Indicates the status of mesure voltaje</td>
            		<td>BOOLEAN</td>
            		<td>TRUE, False</td>
            	</tr>
        	</tbody>
		</table>
	<h3>CPH (CONSUMPTION_PHASES)</h3>
		<br>
		<p>This section contains all consumption of the phases, identifying each of the phase in a different section.
		<br>
		<p>Sections availables: 
		<ul>
			<li>PHASE_I </li>
			<li>PHASE_II </li>
			<li>PHASE_III</li>
		</ul>
		<br>	
			<table class="table table-striped">
        		<thead>
            		<tr>
        	    	<th>FIELD</th>
    	        	<th>MEANING</th>
	            	<th>TYPE</th>
        	    	<th>VALUES</th>
    	       		</tr>
	          	</thead>
	          	<tbody>
            	<tr>
            		<th scope="row">KWHD</th>
            		<td>Total kWh delivered to the customer</td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">KWHR</th>
            		<td>Total CFE KWh delivered by the customer.</td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">_KWHB</th>
            		<td>The total balance of kWh delivered and received</td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">KVHI</th>
            		<td>Total KVArh of the first quadrant</td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">KVHII</th>
            		<td>Total KVArh of the second quadrant</td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">KVHIII</th>
            		<td>Total KVArh of the third quadrant</td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">KVHIV</th>
            		<td>Total KVArh of the fourth quadrant</td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            </tbody>
		</table>
		<br>
	<h3>IPH (INSTANTANEOUS_PHASES)</h3>
	<br>
		<p>This section contains all instantaneous values of the phases, identifying each of the phase in a different section.
			<br>
			<p>Sections availables: </p>
			<ul>
				<li>PHASE_I </li>
				<li>PHASE_II </li>
				<li>PHASE_III</li>
			</ul>
			<br>
			<table class="table table-striped">
        		<thead>
            		<tr>
        	    	<th>FIELD</th>
    	        	<th>MEANING</th>
	            	<th>TYPE</th>
        	    	<th>VALUES</th>
    	       		</tr>
	          	</thead>
	          	<tbody>
            	<tr>
            		<th scope="row">V</th>
            		<td>Last voltage recorded </td>
            		<td>DOUBLE</td>
            		<td>> 90.0 ~ <= 250</td>
            	</tr>
            	<tr>
            		<th scope="row">A</th>
            		<td>Last current recorded</td>
            		<td>DOUBLE</td>
            		<td> > 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">PF</th>
            		<td>Last power factor recorded</td>
            		<td>DOUBLE</td>
            		<td>> 0.0  ~  <= 1</td>
            	</tr>
            	<tr>
            		<th scope="row">S</th>
            		<td>Last apparent power recorded </td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">P</th>
            		<td>Last active power recorded </td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">Q</th>
            		<td>Last reactive power recorded </td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">FR</th>
            		<td>Last frequency recorded </td>
            		<td>DOUBLE</td>
            		<td>> 49 ~ < 61</td>
            	</tr>
            </tbody>
		</table>
		<br>
	<h3>PDPH (PEAK_DEMAND_PHASES)</h3>
	<br>
		<p>This section contains the demand maxim of the phases, identifying each of the phase in a different section.
		<br>
		<p>Sections availables:</p>
		<ul>
			<li>PHASE_I </li>
			<li>PHASE_II </li>
			<li>PHASE_III</li>
		</ul>
		<br>
		<table class="table table-striped">
        		<thead>
            		<tr>
        	    	<th>FIELD</th>
    	        	<th>MEANING</th>
	            	<th>TYPE</th>
        	    	<th>VALUES</th>
    	       		</tr>
	          	</thead>
	          	<tbody>
            	<tr>
            		<th scope="row">DEM</th>
            		<td>Maxim demand in phase</td>
            		<td>DOUBLE</td>
            		<td>> 0 ~ n </td>
            	</tr>
			</tbody>
		</table>
	<br>
</div>
<div class="col-md-1">
</div>