<div class="col-md-11">
	<h1 translate="TITLE_UNO"></h1>
		<br>
		<p><ins>https://protcloud.com/api/v1/meters/?</ins></p>
		<br>
	<h1 translate="METERS_UNO"></h1>
	<br>
	<div class="table-responsive">
		<table class="table table-striped">
        	<thead>
            	<tr>
            	<th><p style="text-align: justify;" translate="METERS_DOS"></th>
            	<th><p style="text-align: justify;">GET</th>
           		</tr>
          	</thead>
          	<tbody>
            	<tr>
            		<th scope="row"><p style="text-align: justify;" translate="METERS_TRES"></th>
            		<td><p style="text-align: justify;">Encrypted with AES-128 ECB</td>
            	</tr>
            	<tr>
            		<th scope="row"><p style="text-align: justify;" translate="METERS_CUATRO"></th>
            		<td><p style="text-align: justify;">JSON</td>
            	</tr>
            	<tr>
              		<th scope="row"><p style="text-align: justify;" translate="METERS_CINCO"></th>
              		<td><p style="text-align: justify;" translate="METERS_SEIS"></td>
            	</tr>
            	<tr>
              		<th scope="row"><p style="text-align: justify;" translate="METERS_SIETE"></th>
              		<td><p style="text-align: justify;">DB</td>
            	</tr>
        	</tbody>
		</table>
	</div>
	<br>
	<h1 translate="METERSEARCH_I"></h1>
		<br>
		<div class="table-responsive">
		<table class="table table-striped">
        	<thead>
            	<tr>
            	<th><p style="text-align: justify;" translate="METERSEARCH_II"></th>
            	<th><p style="text-align: justify;" translate="METERSEARCH_III"></th>
           		</tr>
          	</thead>
		</table>
		</div>
		<p style="text-align: justify;" translate="METERSEARCH_IV">
		<div class="table-responsive">
			<table class="table table-striped">
    	    	<thead>
        	    	<tr>
            			<th><p style="text-align: justify;" translate="METERSEARCH_V"></th>
            			<th><p style="text-align: justify;" translate="METERSEARCH_VI"></th>
           			</tr>
        	  	</thead>
			</table>
		</div>
		<br>
		<h1 translate="METERS_OCHO"></h1>
		<br>
			<pre>
GET /api/v1/meters/GTWR02 
HTTP/1.1
Host: 192.168.3.127
User-Agent: curl
Authorization: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJleHAiOiIxNDQ2MDQxMDU3IiwidWlkIjoiTWpWbE56SmpaRGMxWkRKa00
yVXdZekV3TmpFNE1UazJPREpqT1RkaFltTmxNVGxoTTJVNE5BPT0iLCJpYXQiOiIxNDQ2MDM3NDU3In0.A5vkkzKkHBD_jUj_yX0PfD_rSorNyp
OvNI6bpHbp2s0em6kyF_gN1JW8BtW96NZXMpLeK4fyVq1B9KzDH8n3DORXUnNJqV8mAMVCFeWSHLyjricYZK_1C4zspWPHynD4_W30TGenhSza22
yY7cX5bCBnR_KU3NxrU0qF9tmRMmd9xKhEmwioFFVk58VNydJtUykMUDWO3tvjcx-ocZ5jEtd-grg9qNpnirncDK1XBq4FwNkjM4nYGyAO52QV98
luSCz9mo7ECxIikkYFifV3LGG1r0Q1K3P_JyTP-UW_hBBSQDoYpWoUuT1_p5nuE-9Mf72Kd42iT6pVqSm3vMgtkA
Cache-Control: no-cache
Content-Type: charset=utf-8
			</pre>
		<br>
		<h1 translate="METERS_NUEVE"></h1>
			<br>
			<pre>
HTTP/1.1 200 OK
Date: Wed, 28 Oct 2015 15:15:10 GMT
Server: Apache
Vary: Authorization,Accept-Encoding
Expires: Thu, 19 Nov 1981 08:52:00 GMT
Pragma: no-cache
Access-Control-Allow-Orgin: *
Access-Control-Allow-Methods: *
Transfer-Encoding: chunked
Content-Type: application/json

{"PAYLOAD":"SvgFAkRpOZqdkeIrbo7w1NzzQ7x4hnfejH355d4947rJ2LLUGWKeReAyfd\/RT+Yz0NclniJzw0CtG
8+NQfLgyF+f2g25vMlhxVwLKNPi6wf9EcZLO+WwgBj\/vfOOX3vtEs5pB6YYZPCRkvqJQl5\/KQiKQ3tqlVTm48WKZ
ymuenmw8A1f9gQGQAL4jnt546b0I3bKZQyLU\/U4daYs0hvmXhjIKllqgl6FOwPsjnUIzivFeEolF3YJuwnDsPg6VA
Pb16K0G1qAQCTKUI4kjjoVWJaKsbmb0BwnyR8YchJKBUW3b440KDLRxEJZ9wQBHDiN9yK0xh4\/XkYYBZ8Z5xGxviw
AZBiQsnXbLRrIG+Nov1i5joM6I7CUi2id0Myyy36oE62IbJg3RXjNdjtComhVZOnHYIAS7P20AOLKy1JRl4hdTd..}
			</pre>
		<br>
	<h1 translate="METERS_DIEZ"></h1>
		<br>
		<p>Falta imagen
		<br>
		<p style="text-align: justify;" translate="METERS_ONCE">
		<p style="text-align: justify;" translate="METERS_DOCE">
		<br>
		<pre>{  
   "RESULT": false,
   "ERROR_CODE":3,
   "ERROR":"ANY SMART METER FOUND"
}
		</pre>
			<table class="table table-striped">
        	<thead>
            	<tr>
            	<th>FIELD</th>
            	<th>MEANING</th>
            	<th>TYPE</th>
            	<th>VALUES</th>
           		</tr>
          	</thead>
          	<tbody>
            	<tr>
            		<th scope="row">RESULT</th>
            		<td><p style="text-align: justify;" translate="METERS_DIECISIETE"></td>
            		<td>BOOLEAN</td>
            		<td>True, False</td>
            	</tr>
            	<tr>
            		<th scope="row">ERROR_CODE</th>
            		<td><p style="text-align: justify;" translate="METERS_DIECIOCHO"></td>
            		<td>INTEGER</td>
            		<td> > 0, 1, 2, 3..., N</td>
            	</tr>
            	<tr>
              		<th scope="row">ERROR</th>
              		<td><p style="text-align: justify;" translate="METERS_DIECINUEVE"></td>
              		<td>STRING</td>
              		<td></td>
            	</tr>
        	</tbody>
		</table>
	<p style="text-align: justify;" translate="METERS_II">
		<br>
		<pre>
[{
	"INFO_METER": {
	"ID_METER": 1,
	"SLOT": 1,
    	"TYPE_METER": "1S",
        "SERIAL_NUMBER": "X0000X",
        "CODE_METER": "FH20",
        "LOTE": "PR10",
        "DATE_METER": "2015-10-13 05:25:45",
        "MAC": "XXXXXX",
        "TIMESTAMP": "2015-10-28 14:45:00",
        "QoS": "PERFECT",
        "STATUS": "ONLINE",
        "STATUS_CFE": "ACTIVE",
        "ADDRESS": "A001",
        "LATITUDE": "",
        "LONGITUDE": "",
        "TIME_REQUEST": 2.97405
	},
    "STATUS_METER": {
    	"REAL_TIME_CLOCK": true,
        "FLASH_MEMORY": true,
        "MEMORY_EPROM": true,
        "MESURE_VOLTAGE": true,
        "POSITION_METER": "UNKNOWN",
        "STATE_RELAY": false
    },
    "CONSUMPTION_PHASES": {
    	"PHASE_I": {
            "TOTAL_KWH_RECIEVED": 0,
            "TOTAL_KWH_BALANCE": 0.417,
            "KVARH_I_TOTAL": 0,
            "KVARH_II_TOTAL": 0,
            "KVARH_III_TOTAL": 0,
            "KVARH_IV_TOTAL": 0.004
         }
      },
	"INSTANTANEOUS_PHASES": {
	"PHASE_I": {
    	"VOLTAGE": 123.678,
        	"CURRENT": 0,
            "POWER_FACTOR": 1,
            "APARENTPOWER": 0,
            "ACTIVE_POWER": 0,
            "REACTIVE_POWER": 0,
            "FRECUENCY": 60.0142
		}
	},
"PEAK_DEMAND_PHASES": {
	"PHASE_I": {
    	"TOTAL_DEMAND": 0.036
      	}
	}
},{...},{...},....
]		
		</pre>
		<br>
		<h1 translate="METERS_II_UNO"></h1>
			<br>
			<p style="text-align: justify;" translate="METERS_II_DOS">
			<table class="table table-striped">
        	<thead>
            	<tr>
            	<th><p style="text-align: justify;" translate="METERS_TRECE"></th>
            	<th><p style="text-align: justify;" translate="METERS_CATORCE"></th>
            	<th><p style="text-align: justify;" translate="METERS_QUINCE"></th>
            	<th><p style="text-align: justify;" translate="METERS_DIECISEIS"></th>
           		</tr>
          	</thead>
          	<tbody>
            	<tr>
            		<th scope="row">ID_METER</th>
            		<td><p style="text-align: justify;" translate="METERS_II_TRES"></td>
            		<td>INTEGER</td>
            		<td> > 0, 1, 2, 3..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">SLOT</th>
            		<td><p style="text-align: justify;" translate="METERS_II_CUATRO"></td>
            		<td>INTEGER</td>
            		<td> > 0, 1, 2, 3..., 24</td>
            	</tr>
            	<tr>
              		<th scope="row">TYPE_METER</th>
            		<td><p style="text-align: justify;" translate="METERS_II_CINCO"></td>
            		<td>STRING</td>
            		<td>1S, 12S, 16S</td>
            	</tr>
            	<tr>
              		<th scope="row">SERIAL_NUMBER</th>
            		<td><p style="text-align: justify;" translate="METERS_II_SEIS"></td>
            		<td>STRING</td>
            		<td>Variable ( length:4 )</td>
            	</tr>
            	<tr>
              		<th scope="row">CODE_METE</th>
            		<td><p style="text-align: justify;" translate="METERS_II_SIETE"></td>
            		<td>STRING</td>
            		<td>Variable ( length:4 )</td>
            	</tr>
            	<tr>
              		<th scope="row">LOTE</th>
            		<td><p style="text-align: justify;" translate="METERS_II_OCHO"></td>
            		<td>STRING</td>
            		<td>Variable ( length:4 )</td>
            	</tr>
            	<tr>
              		<th scope="row">DATE_METER</th>
            		<td><p style="text-align: justify;" translate="METERS_II_NUEVE"></td>
            		<td>STRING</td>
            		<td>MySQL format (length:16)</td>
            	</tr>
            	<tr>
              		<th scope="row">MAC</th>
            		<td><p style="text-align: justify;" translate="METERS_III"></td>
            		<td>STRING</td>
            		<td>Variable ( length:6 )</td>
            	</tr>
            	<tr>
              		<th scope="row">TIMESTAMP</th>
            		<td><p style="text-align: justify;" translate="METERS_III_UNO"></td>
            		<td>STRING</td>
            		<td>MySQL format ( length:19 )</td>
            	</tr><tr>
              		<th scope="row">QOS</th>
            		<td><p style="text-align: justify;" translate="METERS_III_DOS"></td>
            		<td>STRING</td>
            		<td>bad, normal, good, perfect</td>
            	</tr><tr>
              		<th scope="row">STATUS</th>
            		<td><p style="text-align: justify;" translate="METERS_III_TRES"></td>
            		<td>STRING</td>
            		<td>Online, offline </td>
            	</tr><tr>
              		<th scope="row">STATUS_CFE</th>
            		<td><p style="text-align: justify;" translate="METERS_III_CUATRO"></td>
            		<td>STRING</td>
            		<td>activated, deactivated</td>
            	</tr><tr>
              		<th scope="row">ADDRESS</th>
            		<td><p style="text-align: justify;" translate="METERS_III_CINCO"></td>
            		<td>STRING</td>
            		<td>Variable ( length:4 )</td>
            	</tr><tr>
              		<th scope="row">LATITUDE</th>
            		<td><p style="text-align: justify;" translate="METERS_III_SEIS"></td>
            		<td>STRING</td>
            		<td>Variable ( length:4 )</td>
            	</tr><tr>
              		<th scope="row">LONGITUDE</th>
            		<td><p style="text-align: justify;" translate="METERS_III_SIETE"></td>
            		<td>STRING</td>
            		<td>Variable ( length:10 )</td>
            	</tr><tr>
              		<th scope="row">TIME_REQUEST</th>
            		<td><p style="text-align: justify;" translate="METERS_III_OCHO"></td>
            		<td>DOUBLE</td>
            		<td> > 0.0,0.1,..., n</td>
            	</tr>
        	</tbody>
		</table>
		<br>
	<h3>STATUS_METER</h3>
		<br>
		<p style="text-align: justify;" translate="METERS_IV">
		<br>
			<table class="table table-striped">
        		<thead>
            		<tr>
        	    	<th><p style="text-align: justify;" translate="METERS_TRECE"></th>
            		<th><p style="text-align: justify;" translate="METERS_CATORCE"></th>
            		<th><p style="text-align: justify;" translate="METERS_QUINCE"></th>
            		<th><p style="text-align: justify;" translate="METERS_DIECISEIS"></th>
    	       		</tr>
	          	</thead>
	          	<tbody>
            	<tr>
            		<th scope="row">REAL_TIME_CLOCK</th>
            		<td><p style="text-align: justify;" translate="METERS_IV_UNO"></td>
            		<td>BOOLEAN</td>
            		<td>True, False</td>
            	</tr>
            	<tr>
            		<th scope="row">FLASH_MEMORY</th>
            		<td><p style="text-align: justify;" translate="METERS_IV_DOS"></td>
            		<td>BOOLEAN</td>
            		<td>True, False</td>
            	</tr>
            	<tr>
              		<th scope="row">MEMORY_EPROM</th>
            		<td><p style="text-align: justify;" translate="METERS_IV_TRES"></td>
            		<td>BOOLEAN</td>
            		<td>True, False</td>
            	</tr>
            	<tr>
              		<th scope="row">MESURE_VOLTAGE</th>
            		<td><p style="text-align: justify;" translate="METERS_IV_CUATRO"></td>
            		<td>BOOLEAN</td>
            		<td>True, False</td>
            	</tr>
            	<tr>
              		<th scope="row">POSITION_METER</th>
            		<td><p style="text-align: justify;" translate="METERS_IV_CINCO"></td>
            		<td>STRING</td>
            		<td>Left, rigth, correct, inverse, unknow</td>
            	</tr>
            	<tr>
              		<th scope="row">STATE_RELAY</th>
            		<td><p style="text-align: justify;" translate="METERS_IV_SEIS"></td>
            		<td>BOOLEAN</td>
            		<td>True, False</td>
            	</tr>
            </tbody>
		</table>
		<br>
	<h1 translate="METERS_IV_SIETE"></h1>
		<br>
		<p style="text-align: justify;" translate="METERS_IV_OCHO">
		<br>
		<p style="text-align: justify;" translate="METERS_IV_NUEVE">
		<ul>
			<li><p style="text-align: justify;" translate="METERS_V"></li>
			<li><p style="text-align: justify;" translate="METERS_V_UNO"></li>
			<li><p style="text-align: justify;" translate="METERS_V_DOS"></li>
		</ul>.
		</p>
		<br>
			<table class="table table-striped">
        		<thead>
            		<tr>
        	    	<th><p style="text-align: justify;" translate="METERS_TRECE"></th>
            		<th><p style="text-align: justify;" translate="METERS_CATORCE"></th>
            		<th><p style="text-align: justify;" translate="METERS_QUINCE"></th>
            		<th><p style="text-align: justify;" translate="METERS_DIECISEIS"></th>
    	       		</tr>
	          	</thead>
	          	<tbody>
            	<tr>
            		<th scope="row">KWHD</th>
            		<td><p style="text-align: justify;" translate="METERS_V_TRES"></td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">KWHR</th>
            		<td><p style="text-align: justify;" translate="METERS_V_CUATRO"></td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">KWHB</th>
            		<td><p style="text-align: justify;" translate="METERS_V_CINCO"></td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">KVHI</th>
            		<td><p style="text-align: justify;" translate="METERS_V_SEIS"></td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">KVHII</th>
            		<td><p style="text-align: justify;" translate="METERS_V_SIETE"></td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">KVHIII</th>
            		<td><p style="text-align: justify;" translate="METERS_V_OCHO"></td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">KVHIV</th>
            		<td><p style="text-align: justify;" translate="METERS_V_NUEVE"></td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            </tbody>
		</table>
		<br>
	<h1 translate="METERS_VI"></h1>
		<br>
		<p style="text-align: justify;" translate="METERS_VI_I">
			<br>
			<p style="text-align: justify;" translate="METERS_IV_NUEVE">
			<br>
			<ul>
				<li><p style="text-align: justify;" translate="METERS_V"></li>
				<li><p style="text-align: justify;" translate="METERS_V_UNO"></li>
				<li><p style="text-align: justify;" translate="METERS_V_DOS"></li>
			</ul>
			<br>
			<table class="table table-striped">
        		<thead>
            		<tr>
        	    		<th><p style="text-align: justify;" translate="METERS_TRECE"></th>
            			<th><p style="text-align: justify;" translate="METERS_CATORCE"></th>
            			<th><p style="text-align: justify;" translate="METERS_QUINCE"></th>
            			<th><p style="text-align: justify;" translate="METERS_DIECISEIS"></th>
    	       		</tr>
	          	</thead>
	          	<tbody>
            	<tr>
            		<th scope="row">V</th>
            		<td><p style="text-align: justify;" translate="METERS_VI_UNO"></td>
            		<td>DOUBLE</td>
            		<td>> 90.0 ~ <= 250</td>
            	</tr>
            	<tr>
            		<th scope="row">A</th>
            		<td><p style="text-align: justify;" translate="METERS_VI_DOS"></td>
            		<td>DOUBLE</td>
            		<td> > 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">PF</th>
            		<td><p style="text-align: justify;" translate="METERS_VI_TRES"></td>
            		<td>DOUBLE</td>
            		<td>> 0.0  ~  <= 1</td>
            	</tr>
            	<tr>
            		<th scope="row">S</th>
            		<td><p style="text-align: justify;" translate="METERS_VI_CUATRO"></td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">P</th>
            		<td><p style="text-align: justify;" translate="METERS_VI_CINCO"></td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">Q</th>
            		<td><p style="text-align: justify;" translate="METERS_VI_SEIS"></td>
            		<td>DOUBLE</td>
            		<td>> 0.0,0.1,..., n</td>
            	</tr>
            	<tr>
            		<th scope="row">FR</th>
            		<td><p style="text-align: justify;" translate="METERS_VI_SIETE"></td>
            		<td>DOUBLE</td>
            		<td>> 49 ~ < 61</td>
            	</tr>
            </tbody>
		</table>
		<br>
	<h1 translate="METERS_VI_OCHO"></h1>
		<br>
		<p style="text-align: justify;" translate="METERS_VI_NUEVE">
		<p style="text-align: justify;" translate="METERS_IV_NUEVE">
		<ul>
			<li><p style="text-align: justify;" translate="METERS_V"></li>
			<li><p style="text-align: justify;" translate="METERS_V_UNO"></li>
			<li><p style="text-align: justify;" translate="METERS_V_DOS"></li>
		</ul>
			<br>
		<table class="table table-striped">
        	<thead>
            	<tr>
        	    	<th><p style="text-align: justify;" translate="METERS_TRECE"></th>
	            	<th><p style="text-align: justify;" translate="METERS_CATORCE"></th>
    	        	<th><p style="text-align: justify;" translate="METERS_QUINCE"></th>
        		   	<th><p style="text-align: justify;" translate="METERS_DIECISEIS"></th>
    	    	</tr>
	        </thead>
			<tbody>
            	<tr>
            		<th scope="row">TOTAL_DEMAND</th>
            		<td><p style="text-align: justify;" translate="METERS_VII"></td>
            		<td>DOUBLE</td>
            		<td>> 0 ~ n </td>
            	</tr>
			</tbody>
		</table>
</div>
<div class="col-md-1">
</div>