<div class="col-md-11">
	<h2 translate="LOGIN_REURL"></h2>
		<br>
		<p><ins>https://protcloud.com/api/v1/meters/operation_mode</ins></p>
		<br>
	<h2 translate="LOGIN_RESIN"></h2>
		<br>
		<div class="table-responsive">
			<table class="table table-striped">
        		<thead>
        	    	<tr>
    	    	    	<th><p style="text-align: justify;" translate="LOGIN_METHO"></th>
	            		<th><p style="text-align: justify;">GET</th>
           			</tr>
        	  	</thead>
    	      	<tbody>
	            	<tr>
            			<th scope="row"><p style="text-align: justify;" translate="METERS_TRES"></th>
            			<td><p style="text-align: justify;">Encrypted with AES-128 ECB</td>
            		</tr>
        	    	<tr>
    	        		<th scope="row"><p style="text-align: justify;" translate="METERS_CUATRO"></th>
	            		<td><p style="text-align: justify;">JSON</td>
            		</tr>
            		<tr>
            	  		<th scope="row"><p style="text-align: justify"; translate="LOGIN_REQAU"></th>
        	      		<td><p style="text-align: justify;">YES</td>
    	        	</tr>
	            	<tr>
              			<th scope="row"><p style="text-align: justify;" translate="METERS_SIETE"></th>
              			<td><p style="text-align: justify;">GATEWAY</td>
            		</tr>
        		</tbody>
			</table>
		</div>
		<br>

    <h2 translate="METERS_OCHO"></h2>
    <pre>
      GET /api/v1/meters/operation_mode
      HTTP/1.1
      Host: 192.168.1.5
      User-Agent: curl
      Authorization: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJleHAiOiIxNDQ2MDQxMDU3IiwidWlkIjoiTWpWbE56SmpaRGMxWkRKa00yVXdZekV3TmpFNE1UazJPREpqT1RkaFltTmxNVGxoTTJVNE5BPT0iLCJpYXQiOiIxNDQ2MDM3NDU3In0.A5vkkzKkHBD_jUj_yX0PfD_rSorNypOvNI6bpHbp2s0em6kyF_gN1JW8BtW96NZXMpLeK4fyVq1B9KzDH8n3DORXUnNJqV8mAMVCFeWSHLyjricYZK_1C4zspWPHynD4_W30TGenhSza22yY7cX5bCBnR_KU3NxrU0qF9tmRMmd9xKhEmwioFFVk58VNydJtUykMUDWO3tvjcx-ocZ5jEtd-grg9qNpnirncDK1XBq4FwNkjM4nYGyAO52QV98luSCz9mo7ECxIikkYFifV3LGG1r0Q1K3P_JyTP-UW_hBBSQDoYpWoUuT1_p5nuE-9Mf72Kd42iT6pVqSm3vMgtkA
      Cache-Control: no-cache
    </pre>
    <br>
    <h2 translate="METERS_NUEVE"></h2>
    <pre>
      HTTP/1.1 200 OK
      Date: Wed, 28 Oct 2015 15:15:10 GMT
      Server: Apache
      Vary: Authorization,Accept-Encoding
      Expires: Thu, 19 Nov 1981 08:52:00 GMT
      Pragma: no-cache
      Access-Control-Allow-Orgin: *
      Access-Control-Allow-Methods: *
      Transfer-Encoding: chunked
      Content-Type: application/json

      {"PAYLOAD":"SvgFAkRpOZqdkeIrbo7w1NzzQ7x4hnfejH355d4947rJ2LLUGWKeReAyfd\/RT+Yz0NclniJzw0CtG8+NQfLgyF+f2g25vMlhxVwLKNPi6wf9EcZLO+WwgBj\/vfOOX3vtEs5pB6YYZPCRkvqJQl5\/KQiKQ3tqlVTm48WKZymuenmw8A1f9gQGQAL4jnt546b0I3bKZQyLU\/U4daYs0hvmXhjIKllqgl6FOwPsjnUIzivFeEolF3YJuwnDsPg6VAPb16K0G1qAQCTKUI4kjjoVWJaKsbmb0BwnyR8YchJKBUW3b440KDLRxEJZ9wQBHDiN9yK0xh4\/XkYYBZ8Z5xGxviwAZBiQsnXbLRrIG+Nov1i5joM6I7CUi2id0Myyy36oE62IbJg3RXjNdjtComhVZOnHYIAS7P20AOLKy1JRl4hdTd..}
    </pre>
    <br>
    <h2 translate="METERS_DIEZ"></h2>
    <img src="img/operation_mode_get.png">
    <br>
    <br>
    <p translate="meters_VIII"></p>
    <pre>
      [
        {
            "RESULT”: {
            "OPERATION_MODE":"NORMAL",
            "REGISTER_MODE":”UNIDIR”
        },
            "SERIAL_NUMBER":"A00001",
            "TICKET":360
        },
        {
            "RESULT”: {
            "OPERATION_MODE":"NORMAL",
            "REGISTER_MODE":”UNIDIR”
        },
            "SERIAL_NUMBER":"B00001",
            "TICKET":361
        },
      ]
    </pre>
    <br>
    <br>

 <div class="table-responsive">
      <table class="table table-striped">
            <thead>
                <tr>
                  <th><p style="text-align: justify;" translate="LOGIN_FIELD"></th>
                  <th><p style="text-align: justify;" translate="PANEL_MEANI"></th>
                  <th><p style="text-align: justify;" translate="PANEL_TYPER"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"><p style="text-align: justify;">OPERATION_MODE</th>
                  <td><p style="text-align: justify;" translate="M_C_XXIV"></td>
                  <td><p style="text-align: justify;">STRING</td>
                </tr>
                <tr>
                  <th scope="row"><p style="text-align: justify;">REGISTER_MODE</th>
                  <td><p style="text-align: justify;" translate="MODREG_OPEMOD"></td>
                  <td><p style="text-align: justify;"> STRING</td>
                </tr>
                <tr>
                  <th scope="row"><p style="text-align: justify;">SERIAL_NUMBER</th>
                  <td><p style="text-align: justify;" translate="METERS_II_SEIS"></td>
                  <td><p style="text-align: justify;"> STRING</td>
                </tr>
                <tr>
                  <th scope="row"><p style="text-align: justify;">TICKET</th>
                  <td><p style="text-align: justify;"> Ticket</td>
                  <td><p style="text-align: justify;">INTEGER</td>
                </tr>
            </tbody>
      </table>
    </div>

</div>
<br><br>
<div class="col-md-1">
</div>