<div class="col-md-11">
	<h1 translate="TITILE_UNSOLICITED"></h1>
	<br>
  <center>
    <img src="img/mqtt.png" title="MQTT.org">
  </center>
  <br>
  <p translate="PARAPHUNSOL_ONE"></p>
  <p translate="PARAPHUNSOL_TWO"></p>
  <p translate="PARAPHUNSOL_TRE"></p>
  <br>
  <h2 translate="SUBTITLEUNS_TWO"></h2>
  <pre>
    {  
       "MQTT_ALERTS": [  
          {  
             "DATE_METER":"2015-08-27 14:48:00",      
             "CONSUMPTION":1.395106,           
             "TYPE":112                   
          },
          {  
             "DATE_METER":"2015-08-27 14:48:00",
             "CONSUMPTION":10.519907,
             "TYPE":112
          },{…}
       ],
       "SERIAL_METER":"000001"
    }

  </pre>

		<div class="table-responsive">
			<table class="table table-striped">
        		<thead>
        	    	<tr>
    	    	    	<th><p style="text-align: justify;" translate="LOGIN_FIELD"></th>
	            		<th><p style="text-align: justify;" translate="PANEL_MEANI"></th>
                  <th><p style="text-align: justify;" translate="PANEL_TYPER"></th>
                  <th><p style="text-align: justify;" translate="PANEL_VALUE"></th>
           			</tr>
        	  	</thead>
    	      	<tbody>
	            	<tr>
            			<th scope="row"><p style="text-align: justify;"> DATE_METER </th>
            			<td><p style="text-align: justify;" translate="ONEFIELD_UNSOLI"></td>
                  <td><p style="text-align: justify;" >STRING</td>
                  <td><p style="text-align: justify;">MySQL format</p></td> 
            		</tr>
                <tr>
                  <th scope="row"><p style="text-align: justify;"> CONSUMPTION </th>
                  <td><p style="text-align: justify;" translate="TWOFIELD_UNSOLI"></td>
                  <td><p style="text-align: justify;" >INTEGER</td>
                  <td><p style="text-align: justify;"> > 0  </p></td> 
                </tr>
                <tr>
                  <th scope="row"><p style="text-align: justify;"> TYPE </th>
                  <td><p style="text-align: justify;" translate="TREFIELD_UNSOLI"></td>
                  <td><p style="text-align: justify;" >INTEGER</td>
                  <td><p style="text-align: justify;"> > 0 </p></td> 
                </tr>
                <tr>
                  <th scope="row"><p style="text-align: justify;"> SERIAL_METER </th>
                  <td><p style="text-align: justify;" translate="FOUFIELD_UNSOLI"></td>
                  <td><p style="text-align: justify;" >STRING</td>
                  <td><p style="text-align: justify;"></p></td> 
                </tr>
        		</tbody>
			</table>
		</div>
<br>
    <h2 translate="SUBTITLEUNS_TRE"></h2>
    <pre>
      {
        "profiles_already": true            
      }
    </pre>
    <br>
    <p translate="PARAPHUNSOL_FOU"></p>
    <p translate="PARAPHUNSOL_FIV"></p>
    <pre>
      [
        {
          RESULT: TRUE              
        },
        {
          RESULT: FALSE               
        },
      ]

    </pre>

    <div class="table-responsive">
      <table class="table table-striped">
            <thead>
                <tr>
                  <th><p style="text-align: justify;" translate="LOGIN_FIELD"></th>
                  <th><p style="text-align: justify;" translate="PANEL_MEANI"></th>
                  <th><p style="text-align: justify;" translate="PANEL_TYPER"></th>
                  <th><p style="text-align: justify;" translate="PANEL_VALUE"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"><p style="text-align: justify;"> PROFILES_ALREADY </th>
                  <td><p style="text-align: justify;" translate="FIVFIELD_UNSOLI"></td>
                  <td><p style="text-align: justify;" >INTEGER</td>
                  <td><p style="text-align: justify;"> >0 </p></td> 
                </tr>
                <tr>
                  <th scope="row"><p style="text-align: justify;"> RESULT </th>
                  <td><p style="text-align: justify;" translate="SIXFIELD_UNSOLI"></td>
                  <td><p style="text-align: justify;" >BOOLEAN</td>
                  <td><p style="text-align: justify;"> True  </p></td> 
                </tr>
                <tr>
                  <th scope="row"><p style="text-align: justify;"> RESULT </th>
                  <td><p style="text-align: justify;" translate="SEVFIELD_UNSOLI"></td>
                  <td><p style="text-align: justify;" >BOOLEAN</td>
                  <td><p style="text-align: justify;"> False </p></td> 
                </tr>
            </tbody>
      </table>
    </div>
</div>
<div class="col-md-1">
</div>