<div class="col-md-11">
	<h1>Version to the API</h1>
	<br>
	
	<h3>RESOURCE URL</h3>
		<p><ins>https://protcloud.com/apps/v1/version</ins></p>
		<br>
	<h3>RESOURCE INFORMATION</h3>
		<br>
		<div class="table-responsive">
		<table class="table table-striped">
          <thead>
            <tr>
              <th>METHOD</th>
              <th>GET</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">RESPONSE FORMATS</th>
              <td>Encrypted with AES-128 ECB</td>
            </tr>
            <tr>
              <th scope="row">DECRYPTED DATA</th>
              <td>JSON</td>
            </tr>
            <tr>
              <th scope="row">REQUIRES AUTHENTICATION?</th>
              <td>NO</td>
            </tr>
            <tr>
              <th scope="row">TYPE REQUEST</th>
              <td>DB</td>
            </tr>
          </tbody>
		</table>
		</div>
	<br>
	<h3>PARAMETERS</h3>
	<br>
		<p>NONE</p>
		<br>
		<img src="img/version.jpg" class="img-responsive img-thumbnail" alt="">
	<br>
	<h3>JSON response</h3>
		<br>
		<p class="">
			<pre>
			{
			"VERSION": "1.0.1",
			"ENGINE": "ZendCore 2.0.2"
			}
			</pre>
		</p>
	<br>
	<div class="table-responsive">
	<table class="table table-striped">
          <thead>
            <tr>
              <th>FIELD</th>
              <th>MEANING</th>
              <th>TYPE</th>
              <th>VALUES</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">API VERSION</th>
              <td>Version of API</td>
              <td>STRING</td>
              <td> </td>
            </tr>
            <tr>
              <th scope="row">FW VERSION</th>
              <td>Version of framework</td>
              <td>STRING</td>
              <td> </td>
            </tr>
            <tr>
              <th scope="row">TIME ON LINE</th>
              <td>Time on line </td>
              <td>STRING</td>
              <td>MySQL format</td>
            </tr>
            <tr>
              <th scope="row">ENGINE</th>
              <td>Integrated Development Environment</td>
              <td>STRING</td>
              <td> </td>
            </tr>
            <tr>
              <th scope="row">BUILD</th>
              <td>Build date of framework</td>
              <td>STRING</td>
              <td>MySQL format</td>
            </tr>
            <tr>
              <th scope="row">MODULE</th>
              <td>Type of modules</td>
              <td>STRING</td>
              <td> </td>
            </tr>
            <tr>
              <th scope="row">VERSION</th>
              <td>Version of type modules</td>
              <td>STRING</td>
              <td>>o</td>
            </tr>
          </tbody>
		</table>
	</div>
</div>
<div class="col-md-1">
</div>