<div class="col-md-11">
	<h1 translate="VERSI_TITLE"></h1>
	<br>
	
	<h3 translate="LOGIN_REURL"></h3>
		<p><ins>https://protcloud.com/apps/v1/version</ins></p>
		<br>
	<h3 translate="LOGIN_RESIN"></h3>
		<div class="table-responsive">
		<table class="table table-striped">
          <thead>
            <tr>
              <th translate="LOGIN_METHO"></th>
              <th>GET</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" translate="LOGIN_REFOR"></th>
              <td>Encrypted with AES-128 ECB</td>
            </tr>
            <tr>
              <th scope="row" translate="LOGIN_DEDAT"></th>
              <td>JSON</td>
            </tr>
            <tr>
              <th scope="row" translate="LOGIN_REQAU"></th>
              <td>NO</td>
            </tr>
            <tr>
              <th scope="row" translate="LOGIN_TYPRE"></th>
              <td>DB</td>
            </tr>
          </tbody>
		</table>
		</div>
	<br>
	<h3 translate="PANEL_PMETE"></h3>
	<br>
		<p translate="PANEL_NONEN"></p>
		<br>
		
		<br>
	<h3 translate="PANEL_RESJS"></h3>
		<br>
			<pre>{
	"API VERSION": "1.0.4",
	"FW VERSION": "2.0.2-beta4 Build: Jan 20 2016 10:09:45",
	"TIME ON LINE": "01 hours 09 minutes 56 seconds",
	"ENGINE": "ZendCore 2.0",
	"BUILD": "December 14 2015 18:43:32",
	"DEPENDENCY": [
{
	"MODULE": "DISPLAY",
	"VERSION": 1450140208
},
{
	"MODULE": "METER",
	"VERSION": 1450225436
},
{
	"MODULE": "SERVICES",
	"VERSION": 1450140208
    }
  ]
}
			</pre>
	<br>
	<div class="table-responsive">
	<table class="table table-striped">
          <thead>
            <tr>
              <th translate="LOGIN_FIELD"></th>
              <th translate="PANEL_MEANI"></th>
              <th translate="PANEL_TYPER"></th>
              <th translate="PANEL_VALUE"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">API VERSION</th>
              <td translate="PANEL_VERAP"></td>
              <td>STRING</td>
              <td> </td>
            </tr>
            <tr>
              <th scope="row">FW VERSION</th>
              <td translate="PANEL_VERFW"></td>
              <td>STRING</td>
              <td> </td>
            </tr>
            <tr>
              <th scope="row">TIME ON LINE</th>
              <td translate="PANEL_TIMLI"></td>
              <td>STRING</td>
              <td>MySQL format</td>
            </tr>
            <tr>
              <th scope="row">ENGINE</th>
              <td translate="PANEL_ENGIN"></td>
              <td>STRING</td>
              <td> </td>
            </tr>
            <tr>
              <th scope="row">BUILD</th>
              <td translate="PANEL_BUILD"></td>
              <td>STRING</td>
              <td>MySQL format</td>
            </tr>
            <tr>
              <th scope="row">MODULE</th>
              <td translate="PANEL_MODUL"></td>
              <td>STRING</td>
              <td> </td>
            </tr>
            <tr>
              <th scope="row">VERSION</th>
              <td translate="PANEL_VERSS"></td>
              <td>STRING</td>
              <td>>o</td>
            </tr>
          </tbody>
		</table>
	</div>
</div>
<div class="col-md-1">
</div>